In [ ]:
; Welcome to a Jupyter notebook!

In [ ]:
; Why are we in a Jupyter notebook?
; 
; We will be learning, editing, and running code in this notebook.

In [ ]:
; What is Jupyter?
;
; Computational Notebook (notebooks for code)

In [ ]:
; What can you do in a Jupyter notebook?
; 
; - look at code and the results of running the code
; - edit the code
; - run the code

In [ ]:
; Because it is a computational notebook things are not hidden from you:

In [ ]:
; put your cursor in this cell and run it by pressing ctrl-enter
(ql:quickload "april") 
(ql:quickload "opticl")
(ql:quickload "drakma")
(ql:quickload "alexandria")

In [ ]:
; run this cell too
(defpackage :image-filtering 
  (:nicknames :im)
  (:use :common-lisp :april :opticl :drakma :alexandria))
(in-package :im)
(load "utils.lisp")

In [ ]:
; What is APL?
;   "A Programming Language"

In [ ]:
; APL (the idea)
;
;    rules   (syntax)
;    and
;    meaning (semantics)
;

In [ ]:
; APLs (the versions)
; 
; Some APLs include:
;   Dyalog, GNU APL, and April

In [ ]:
; We are using April!

In [ ]:
; You can try Dyalog here: 
; https://tryapl.org/

In [ ]:
; You can edit images with APL among many other things

In [ ]:
; What are images?

In [ ]:
; Is this an image?
(april-f "0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0")

In [ ]:
; ...about April
; notice the -f
;
; I think about the -f as meaning "friendly"

In [ ]:
; Image Representation
(write-array (april-f "200 × 5 6 ⍴ 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0"))

In [ ]:
; Because images are represented as numbers we need some math to work with them

In [ ]:
; In APL, most math symbols do what you would expect them to do
;
; = + - ÷ × etc.

In [ ]:
; APL is a small language

In [ ]:
; How small?

In [ ]:
; TODO now load the symbols

In [ ]:
var script = document.createElement ("script");
script.src = "https://abrudz.github.io/lb/lb.js";
document.body.appendChild (script);

In [ ]:
; APL is designed to be mnemonic
; 
; : assisting or intended to assist memory

In [ ]:
; Behind every image on a computer there are just numbers
;
; For this class those numbers are: 0 through 255
; 
; 0   is black
; 255 is white

In [ ]:
; What is a pixel?

In [ ]:
; let's look at some
; first we need an image
(read-png "images/sia.png")

In [ ]:
; after you execute (read-png) a greyscale copy, resized if too big, of your image
; is in April as "img"

In [ ]:
; let's look at the size of it now
(april "⍴img")

In [ ]:
; let's look at a single pixel
(april "img[200;200]")
; the 200th row
; the 200th column

In [ ]:
; let's look at one row of pixels
(april "img[1;]")

In [ ]:
; let's modify it
(write-array (april "img × img>150"))

In [ ]:
; Terms
;
; We need to learn some words used in APL

In [ ]:
; Scalar
(april "1")

In [ ]:
; Vector
(april "2 4 6 8")

In [ ]:
; Please Excuse My Dear Aunt Sally?

In [ ]:
; Order of Operations in APL:
; 
; right to left
; and
; the space between vectors are strong!

In [ ]:
; Dimensions, Rank, Shape

In [ ]:
(april "⍴1")

In [ ]:
(april "⍴2 4 6 8")

In [ ]:
(april "⍴⍴ 2 4 6 8")

In [ ]:
; Matrix a.k.a "array"  a.k.a "grid"

In [ ]:
(april-f "4 4 ⍴ 1 2 3" )

In [ ]:
(april  "⍴4 4 ⍴ 1 2 3" )

In [ ]:
(april "⍴⍴4 4 ⍴ 1 2 3" )

In [ ]:
; Function and Operands:
(april "8 - 3")
; - is the function
; 8 is the function's left operand
; 3 is the function's right operand

In [ ]:
; Monadic Function

In [ ]:
(april "÷ 9")
; mon-  mono-
; : one : single : alone

In [ ]:
; Dyadic Function

In [ ]:
(april "4 + 6")
; dyad
; : pair

In [ ]:
; Nested

In [ ]:
; Item

In [ ]:
; Axis

In [ ]:
; Functions and Operators

In [ ]:
; ←
; assignment

In [ ]:
(april "sam←50 100 200")

In [ ]:
(april "sam")

In [ ]:
(april "sam ÷ 2")

In [ ]:
; ⍳

In [ ]:
(april "⍳9")

In [ ]:
; ⍴
; monadic ⍴ tells you the shape of something

In [ ]:
(april "⍴ 2 4 6 8 10")

In [ ]:
(april "⍴ sam")

In [ ]:
; dyadic ⍴ reshapes
(april "15 ⍴ sam")
; Read as: "15 reshape sam" makes a vector 15 items long using sam

In [ ]:
(april "v←0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 168 168 168 168 168 168 168 0 0 0 0 0 0 0 0 0 0 0 168 168 168 168 168 168 168 168 168 168 168 0 0 0 0 0 0 0 0 168 168 168 168 168 168 168 168 168 168 168 168 168 0 0 0 0 0 0 168 168 168 168 0 0 168 168 168 82 0 168 168 168 168 0 0 0 0 168 168 168 168 168 0 0 168 168 168 0 0 168 168 168 168 168 0 0 2 168 168 168 168 168 0 0 168 168 168 0 0 168 168 168 168 168 0 0 168 168 168 168 168 168 0 0 168 168 168 0 0 168 168 168 168 168 168 0 168 168 168 168 168 168 0 0 168 168 168 0 0 168 168 168 168 168 168 0 168 168 168 168 168 168 168 168 168 168 168 168 86 168 168 168 168 168 168 0 168 168 168 168 168 168 168 168 168 168 168 168 168 168 168 168 152 168 168 0 168 168 0 168 168 168 168 168 168 168 168 168 168 168 168 168 0 168 168 0 168 168 153 168 168 168 168 168 168 168 168 168 168 168 168 168 152 168 168 0 168 168 168 151 168 168 168 168 168 168 168 168 168 168 168 0 168 168 168 0 0 168 168 0 168 168 168 168 168 168 168 168 168 168 168 144 168 168 0 0 93 168 168 168 0 168 168 168 168 168 168 168 168 168 0 168 168 168 88 0 145 0 168 168 168 142 0 168 168 168 168 168 0 168 168 168 168 168 142 0 168 0 0 168 168 168 168 168 4 0 9 168 168 168 168 168 0 34 168 0 150 121 40 0 168 168 168 168 168 168 168 168 168 168 168 168 37 0 150 0 0 168 168 53 168 0 168 168 168 168 168 168 168 0 168 0 168 157 0")

In [ ]:
(april "m←20 20 ⍴ v")

In [ ]:
(april-f "m")

In [ ]:
(write-array (april "m"))

In [ ]:
; ⍉
; Transpose

In [ ]:
(april "⎕←twenty_five_square←5 5 ⍴ ⍳25")

In [ ]:
(april-f "twenty_five_square")

In [ ]:
(april-f "⍉twenty_five_square")

In [ ]:
(write-array (april "⍉m"))

In [ ]:
; let's do that to sia
(write-array (april "⍉img"))

In [ ]:
(write-array (april "⍉⍉m"))

In [ ]:
; ,

In [ ]:
(april "20 30 40,sam")

In [ ]:
; ⎕
; look

In [ ]:
(april "⎕← 8 7 6" )

In [ ]:
; ⋄

In [ ]:
(april "1 ⋄ 2" )

In [ ]:
(april "⎕←1 ⋄ 2" )

In [ ]:
(april "⎕←1 ⋄ 2 ⋄ 99" )

In [ ]:
; [ ]

In [ ]:
(april "sam[1]")

In [ ]:
(april "⎕←m ⋄ 0")

In [ ]:
(april "m[1;]")

In [ ]:
; +/

In [ ]:
(april "+/1 3 5 7")

In [ ]:
(april "+/sam")

In [ ]:
; ⌈

In [ ]:
(april "⌈4.2")

In [ ]:
; ⌊

In [ ]:
(april "⌊4.2")

In [ ]:
; |
; remainder

In [ ]:
(april "5|10")
; 10 divided by 5 is 2 and the remainder is 0

In [ ]:
(april "5|9")
; 9 divided by 5 is 1 and the remainder is 4

In [ ]:
; ¨

In [ ]:
(april "÷5")

In [ ]:
; {}

In [ ]:
; ⊂

In [ ]:
; ⊃

In [ ]:
; ∘.

In [ ]:
; *

In [ ]:
;;;;;;;;;;;;;;;

In [ ]:
; if you want an information overload run this cell.
; it will tell you lots of information about the file "some.jpg"
(uiop:run-program "identify -verbose images/sia.png" :output t)

In [ ]:
(write-array (april "⎕←100 100 ⍴ 100?200"))

In [ ]:
(april "⎕←100 100 ⍴ 100?200")
; https://www.keyence.com/ss/products/auto_id/barcode_lecture/basic/mechanism/
; make a barcode?

In [ ]:
;;;;;;;;;;;

In [ ]:
(progn
  (april "img")
  (april "m←⌊(+/img)÷¯1↑⍴img")
  (april "res←{⍺,≢⍵} ⌸ ,m")
  (april-f "sorted←res[⍋⌽res;]")
  (april-f "sorted←res[⍒res;]")
  (april "values←sorted[⍳1⊃⍴sorted;1]")
  (april "counts←sorted[⍳1⊃⍴sorted;2]")
  0)
(write-array-as-png (april "(⍴m) ⍴ counts/values"))

In [ ]:
(april "m←img")

In [ ]:
; TODO note that the wet bandits, after sobel, seem to have 
; extra information. jpeg artifacts?

In [ ]:
; edge detection

In [ ]:
  (april "one← ¯1  0  1")
  (april "two← ¯2  0  2")
  (april "thr← ¯1  0  1")

In [ ]:
  (april "⎕←kernel←3 3 ⍴ one,two,thr")

In [ ]:
  (april-f "kernelsum←1⌈|⌊+/+/kernel") ; the sum's absolute value

In [ ]:
  (april "⎕←g←⍉kernel")

In [ ]:
  (april-f "pairs←,(¯1+⍳(¯2+(⍴m)[1]))∘.,¯1+⍳(¯2+(⍴m)[2])")

In [ ]:
  (april "get_submats←{row←⍵[1]⋄col←⍵[2]⋄m[row+⍳3;col+⍳3]}")

In [ ]:
  (april "sub_mats←get_submats¨pairs")

In [ ]:
  (april-f "Gx←(⊂kernel)×sub_mats") ; gradient in x

In [ ]:
  (april-f "Gy←(⊂g)×sub_mats")      ; gradient in y

In [ ]:
  (april-f "filteredx ←(¯2+(⍴m)[1]) (¯2+(⍴m)[2]) ⍴ +/¨+/¨Gx")

In [ ]:
  (april-f "filteredy ←(¯2+(⍴m)[1]) (¯2+(⍴m)[2]) ⍴ +/¨+/¨Gy")

In [ ]:
  ; now only keep if above a threshhold
  ; (april "filtered←filtered×filtered<150")
  ;

In [ ]:
  ; sobel
  (april-f "final←((filteredx*2)+filteredy*2)*0.5")

In [ ]:
(write-array
    (april "255⌊0⌈⌈final÷kernelsum"))